# Lecture 6 - Python

## Escape character 
Strings can contain most characters except enter, backspace, tab, and backslash. These special characters must be *escaped* by using the escape character:  `\`

In [31]:
print("first line \n second line") # note the space

first line
 second line

In [32]:
print("first line \nsecond line") # removes the space

first line
second line

In [6]:
print("we can print a quote (\' or \") using a backslash (\\)")

we can print a quote (' or ") using a backslash (\)

In [1]:
name = 'Joseph "Joe" Jones'
print("name:", name)
storeName = 'Joe\'s Store'
storeName = "Joe's Store" # alternatively
print("storeName:", storeName)
height = '''5'9"'''
print("height:", height)
print("\n") # new line
print("""String that is really long
with multiple lines
     and spaces is perfectly fine""")

name: Joseph "Joe" Jones
storeName: Joe's Store
height: 5'9"


String that is really long
with multiple lines
     and spaces is perfectly fine

## Python String Indexing
Individual characters of a string can be accessed using square brackets `[]`. The first character indexed at 0.

In [7]:
str = "Hello"
print(str[1]) 
print("ABCD"[0])
print(str[-1])

e
A
o

## Methods vs function
A *method*  is similar to a function however it is attached to an object.  We use functions with the syntax `function_name(arguments)` and we use methods with the syntax `object.method(arguments)`

In [8]:
st = "Hello"
st2 = "Goodbye"

In [11]:
print(len(st))
print(st.upper())
print(st.lower())
print(str(9))
print(st+st2)
print(st[0:3])
print(st[1:])
print(int("99"))

5
HELLO
hello
9
HelloGoodbye
Hel
ello
99

In [15]:
print(type(99))
print(type(str(99)))
print(type("99"))
print(type(int("99")))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [138]:
print("length of st:", len(st))
print("st converted to uppercase:", st.upper())
print("st converted to lowercase:", st.lower())
print(st) # st is unchanged

length of st: 5
st converted to uppercase: HELLO
st converted to lowercase: hello
Hello

Before moving the the next examples, we need to delete the variable `str` in order to make use of `str` (the function)

In [10]:
del str

In [145]:
num = 9
nst = '9'
nst = str(num)
print(type(num)) #treated as an integer
print(type(nst)) # treated as a string
print(num + 9)
print(nst+"nine")

<class 'int'>
<class 'str'>
18
9nine

To convert a number back into a string:

In [34]:
ist = int(nst)
print(type(ist))
print(ist + 1)

<class 'int'>
10

Notice that we can't mix numbers and strings with the `+` operator:

In [39]:
# print(nst + 9) # produces an error
# print(num+"nine") # produces an erre
st1 = "Hello"
st2 = "World!"
print(st1+st2)
print(st1+" "+st2) #hardcode spaces
print(st1+" "+st2+"("+str(2)+")") # covert numbers to strings before string concatenation

HelloWorld!
Hello World!
Hello World!(2)

But we can mix numbers and strings with `print`

In [36]:
st1 = "Hello"
st2 = "World!"
print(st1,num, 100, "hi there", "byethere")  
# can change the default separator from spaces to commas
print(st1,num, 100, "hi there", sep=", ")

Hello 9 100 hi there byethere
Hello, 9, 100, hi there

In [32]:
print(st[0:3])
print(st[1:])
print(st[-1])
print(st[-3:-1])

Hel
ello
o
ll

## Split
The `split` function will divide a string based on a separator. 
Without any arguments, it splits on whitespace:

In [41]:
st = "Awesome coding! Very good!"
st_split = st.split()
print(st_split)
print(type(st_split)) # returns a list

['Awesome', 'coding!', 'Very', 'good!']
<class 'list'>

In [12]:
st = 'data,csv,100,50,,25,"use split",99'
print(st.split(","))

['data', 'csv', '100', '50', '', '25', '"use split"', '99']

# Python structures

## Lists
A `list` is a collection of data items that are referenced by index.

In [45]:
data = [100, 200, 300, 'one', 'two', 600]
print(data[0])           # 100
print(data[4])           # 'two'
# print(data[6])           # error ? out of range
print(data[len(data)-1]) # 600
print(data[-1])          # 600
print(data[2:4])         # [300, 'one']

100
two
600
600
[300, 'one']

In [46]:
emptyList = []

**N.B.** if we were following PEP8's style guide i should really be calling this `empty_list`

In [30]:
print(list(range(10)))
print(list(range(1,10)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

Modify values:

In [47]:
data = [1,2,3,5]
data[2] = 7
print(data)

[1, 2, 7, 5]

We can also modify multiple values at a time in the following way:

In [48]:
data[0:1] = ["one","two"]
print(data)

['one', 'two', 2, 7, 5]

Notice that when  we try to add a value to the end of the list, we get an error:

In [49]:
# data[5] = 10 # produces an error

To add an item to the end of the list, use the `append()` method.

In [50]:
data = [1,2,3,5]
data.append(7)
print(data)

[1, 2, 3, 5, 7]

Alternatively we could have used `+`

In [51]:
data = [1,2,3,5]
data = data + [7]
print(data)

[1, 2, 3, 5, 7]

Iterating over lists in a loop:

In [36]:
colours = ['red', 'yellow', 'green', 'blue']
for i in colours:
    print(i)
print(i,i)

red
yellow
green
blue
blue blue

In [37]:
i = [1, 2, 3, 5, 8, 13]
j = []
for l in i:
    j.append(l)
print(j)

[1, 2, 3, 5, 8, 13]

## `append` vs `extend`

`append()` adds its argument as a *single* element (eg. a number, a string or a 
 another list)  to the end of an existing list.

In [56]:
x = [1, 2, 3] # len(x) = 3
x.append([4,5])
print(x)
print(len(x))

[1, 2, 3, [4, 5]]
4

Notice how the length of the list increases by one. If we want to add the elements one-by-one to the end of `x` we could either use a loop as we did in the previous slide of use the  `extend()` method. `extend()`  _iterates_ over its argument and adds each element to the list thereby *extending* the list.

In [38]:
x = [1, 2, 3]
x.extend([4,5])
print(x)
print(len(x))

[1, 2, 3, 4, 5]
5

The above code is equivalent to iterating over ``[4,5]`` and appending the items one-by-one:

In [39]:
x = [1, 2, 3]
q = [4,5]
for i in q:
    x.append(i)
print(x)
print(len(x))

[1, 2, 3, 4, 5]
5

Alternatively, we could have used

In [58]:
x = [1, 2, 3] 
print("x:",x)
print(len(x))
x = x + [4,5]
print("extended x:", x)
print(len(x))

x: [1, 2, 3]
3
extended x: [1, 2, 3, 4, 5]
5

Another example:

In [59]:
x = [1, 2, 3]
x.append([4, 5])
print(x)
print("x[3] with append:", x[3])

x = [1, 2, 3]
x.extend([4, 5])
print (x)
print("x[3] with extend:", x[3])

[1, 2, 3, [4, 5]]
x[3] with append: [4, 5]
[1, 2, 3, 4, 5]
x[3] with extend: 4

## List operators

In [40]:
data = [1, 2, 3, 5]
lst = []

In [18]:
data.append(1)
print(data)

[1, 2, 3, 5, 1]

In [19]:
data.insert(3,4) # arg1 = index, arg2 = value
print(data)

[1, 2, 3, 4, 5, 1]

In [20]:
data.remove(1) # arg1 = value
print(data) # notice how it only removes the first instance of the value

[2, 3, 4, 5, 1]

In [21]:
print(data.pop(0)) # arg1 = index (returns the value)
print(data)

2
[3, 4, 5, 1]

In [22]:
data[0] = 10
print(data)

[10, 4, 5, 1]

In [23]:
print("length of data:", len(data))
print("length of lst:", len(lst))

length of data: 4
length of lst: 0

In [26]:
print(data)
ind4 = data.index(4) # arg = value to be searched for
print("the value 4 is at index", ind4, "in list \'data\'")

[10, 4, 5, 1]
the value 4 is at index 1 in list 'data'

In [41]:
data.sort()
print(data)

[1, 2, 3, 5]

In [42]:
data.sort(reverse=True)
print(data)

[5, 3, 2, 1]

## loops

In [85]:
# loops for lists with strings
data = ["apples", "bananas","oranges"]
for v in data:
    print(v)

apples
bananas
oranges

In [86]:
# loops for lists with numbers
data = [5,9,-2,9]
for v in data:
   print(v)

5
9
-2
9

In [87]:
# looping a single string:
for v in "bananas":
    print(v)

b
a
n
a
n
a
s

If we want to iterate through both index and value, we could use the `enumerate` function

In [88]:
data = ['apple', 'banana', 'grapes', 'pear']
for c, value in enumerate(data):
    print(c, value)

0 apple
1 banana
2 grapes
3 pear

If we want our index to start at 1 rather than 0, we could specify that as the second argument:

In [1]:
data = ['apple', 'banana', 'grapes', 'pear']
for c, value in enumerate(data, 1):
    print(c, value)

1 apple
2 banana
3 grapes
4 pear

## List comprehensions

*List comprehensions* can be used to build a list using values that satisfy a criteria.

In [91]:
evenNums100 = [n for n in range(101) if n%2==0]
print(evenNums100)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

This is equivalent to:

In [93]:
evenNums100 = []
for n in range(101): 
    if n%2==0:
        evenNums100.append(n)
print(evenNums100)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [97]:
# more list slicing with "step"
data = list(range(1,11))
print(data)
print("without step:", data[1:8]) # see without step
print("with step", data[1:8:2])
print("without end (no step)", data[1:])
print("without end with step", data[1::3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
without step: [2, 3, 4, 5, 6, 7, 8]
with step [2, 4, 6, 8]
without end (no step) [2, 3, 4, 5, 6, 7, 8, 9, 10]
without end with step [2, 5, 8]

In the previous example we use the `list()` function to create our list instead of the square brackets. This constructs a list using the single input.  This could be 
 
- a sequence (eg. string, tuples) or
- a collection (set, dictionary) or
- an iterator object (objects that can iterated over in our `for` loops)

If no parameters are passed, it creates an empty list.

In [98]:
empty_list = list()
print(empty_list)

[]

`list()` can also be used as function.  It takes a single object which it then iterates over to create a Python list

In [2]:
word = "ABC 123"
for i in word:
    print(i)
    
wordlist = list(word)
print(wordlist)

A
B
C

1
2
3
['A', 'B', 'C', ' ', '1', '2', '3']

## Tuples
 A tuple is a collection which is ordered and **unchangeable**. To create tuples we use  round brackets `()`. Tuples are useful for storing some related information that belong together.

In [4]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Elements in a tuple  are referenced the same way as lists (i.e. starting from 0)

In [5]:
print(thistuple[0])
print(thistuple[1])
print(thistuple[2])

apple
banana
cherry

Unlike list, once a tuple is created, values **can not** be changed (i.e. tuples are *immutable*).  For that reason, tuple manipulation can be must faster than wroking with lists.

In [6]:
# thistuple[1] = "pineapple" # produces an error

**Sidenote**: Using the `list()` function from before you can create a list which *can* be changed

In [7]:
tlist = list(thistuple)
print(tlist)
tlist[1] = 'pineapple'
print(tlist)

['apple', 'banana', 'cherry']
['apple', 'pineapple', 'cherry']

If you want to make a tuple with a single element, you must use a comma:

In [8]:
# a tuple with a single element
singleton = (1,)
# without the comma you do not get a tuple
singletonNoComma = (1)
print(type(singleton))
print(type(singletonNoComma))

<class 'tuple'>
<class 'int'>

Notice that tuples are also iterable, meaning we can traverse through all the values. eg,

In [105]:
for i in thistuple:
    print(i)

apple
banana
cherry

## Sets

A *set* (like a mathematical set) is a collection which is unordered and unindexed.  They do not store duplicates.  Sets are written with curly brackets`{}`

In [13]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
#print(thisset[1]) #error

{'banana', 'apple', 'cherry'}

Since sets are unordered,  the items will appear in a random order and elements cannot be reference by index. Again  we can iterate though each item using a `for` loop

In [11]:
for i in thisset:
    print(i)

banana
apple
cherry

## Dictionaries

A *dictionary* is a collection which is unordered, changeable and indexed. We create them with curly brackets and specify  their *keys* and *values*.

In [2]:
thisdict = {
  "key1": "value1",
  "key2": "value2",
  "key3": "value3"
}
print(thisdict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

Note that keys must be unique

In [3]:
nono = {'key1':'this', 'key1':'that'}

In [4]:
# reference elements by keys:
print(thisdict['key1'])

value1

In [5]:
# referencing by index won't work (remember these are unordered)
# thisdict[0]

KeyError: 0

Don't get confused at try to do indexing using the values rather than the keys! For instance the following would produce an error:

In [116]:
# thisdict['value1']

If we wanted to, we could always use integers for the keys (in that case we don't need quotes around them when indexing using square brackets).  See how we can iterate over the elements in a loop.

In [6]:
dict = {1:'one', 2:'two', 3:'three'}
print(dict[1]) # one
if 2 in dict: # check if key exists
    print(dict[2]) # 'two'

one
two

Unlike with tuples and lists, we *can* add new elements without the `append` or `extend` method:

In [7]:
dict[4] = 'four' # Add 4:'four'
# more generically, add the value 'value' to key 'key' 
dict['key'] = 'value' 
print(dict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 'key': 'value'}

To delete a key/value combo, use `del`

In [3]:
del dict[1]  # Remove key 1

In [4]:
print(dict)

{2: 'two', 3: 'three', 4: 'four', 'key': 'value'}

You can always see what keys and values your list contains using:

In [6]:
print("keys:", dict.keys()) # Returns keys
print("values:", dict.values()) # Returns values

keys: dict_keys([2, 3, 4, 'key'])
values: dict_values(['two', 'three', 'four', 'value'])

See how iterating over a dictionary in a for loop prints out the *keys* (not *values*).

In [8]:
dict = {'Martha':4, 'Janet':17, 'Peter':10}
dict['Anna'] = 20
for i in dict:
    print(i)
    #print(dict[i])

4
17
10
20

One might expect that these keys would be printed in alphabetical order, but remember, dictionaries are unordered.

To check if a key is already in your dictionary use:

In [12]:
'Martha' in dict

True

In [13]:
'Thomas' in dict

False

To iterate through the values instead of the keys, use either of the following:

In [14]:
# option 1
for i in dict:
    print(dict[i])

4
17
10
20

In [5]:
print(dict.values())

dict_values(['two', 'three', 'four', 'value'])

In [6]:
# option 2:
for i in dict.values():
    print(i)

two
three
four
value

To access both keys and values use:

In [13]:
# option 1:
# i = key, dict[i] = value
for i in dict: 
    print("key = ", i, "value = ", dict[i])

key =  Martha value =  4
key =  Janet value =  17
key =  Peter value =  10
key =  Anna value =  20

In [14]:
# option 2:
for key, val in dict.items():
    print("key = ", key, "values =", val)

key =  Martha values = 4
key =  Janet values = 17
key =  Peter values = 10
key =  Anna values = 20

## A summary 

**Lists** can be altered and hold different types

In [1]:
lectures = [1,2,['excelI','excelII'],'CommandLine']
# can delete individual items
del lectures[3]   
# reassign values
lectures[1] = 'Introduction' 
print(lectures)
print(type(lectures[0])) # <class 'int'>
print(type(lectures[1])) # <class 'str'>
print(type(lectures[2])) # <class 'list'>

[1, 'Introduction', ['excelI', 'excelII']]
<class 'int'>
<class 'str'>
<class 'list'>

**Tuples** are immutable (we can't change the values)

In [15]:
topics= (1,2,['excel1','excel2'],'CommandLine')
# del topics[3] # can't delete!
# TypeError: 'tuple' object doesn't support item deletion
print(type(topics[2])) # <class 'list'>

<class 'list'>

**Sets** do not hold duplicate values and are unordered.  Being an unordered collection, sets do not record element position or order of insertion. Accordingly, sets do not support indexing, slicing, or other sequence-like behavior.

In [133]:
myset={3,1,2,3,2}
print(myset)
# myset[1] # error

{1, 2, 3}

**Dictionaries** holds key-value pairs (just like real life dictionaries hold word-meaning pairs). Recall that the `\` is used to split  statements across multiple lines.

In [17]:
wordoftheday = {
 'persiflage':'light, bantering talk or writing' ,
 'foment':'to instigate or foster'}
print(wordoftheday['foment'])

to instigate or foster

## Printing Formatting

In [1]:
print("Hi", "Amy", ", your age is", 21)
print("Hi {}, your age is {}".format("Amy",21))
print("Hi {1}, your age is {0}".format(21,"Amy"))
print("Hi {name}, your age is {age}".format(age=21,
name="Amy"))

Hi Amy , your age is 21
Hi Amy, your age is 21
Hi Amy, your age is 21
Hi Amy, your age is 21

## Importing Modules

In [15]:
import math
# imports 'math' (of class 'module')
# access pi using dot notation
print(math.pi)
print(math.factorial(6))
from math import pi
# access pi directly
print(pi)
# factorial(6)
# NameError: name 'factorial' is not defined
from math import *
# access pi (and anything else in the module) directly
print(pi)
print(factorial(6))

3.141592653589793
720
3.141592653589793
3.141592653589793
720

### datetime

In [18]:
from datetime import datetime
now = datetime.now()
print(now)

2019-10-18 10:04:50.922779

In [20]:
current_year = now.year
print(current_year)
current_month = now.month
print(current_month)
current_day = now.day
print(current_day)
print("{}-{}-{} {}:{}:{}".format(now.year, now.month, 
now.day, now.hour, now.minute, now.second))

2019
10
18
2019-10-18 10:4:50

In [21]:
import time
startTime = time.time()
print("Start time:", startTime)
print("How long will this take?")
endTime = time.time()
print("End time:", endTime)
print("Time elapsed:", endTime-startTime)

Start time: 1571418379.7878551
How long will this take?
End time: 1571418379.788189
Time elapsed: 0.0003337860107421875

## Comparisons

In [8]:
n=5
v=8
print(n > 5) #False
print(n == v) #False
print(n != v) # True
print((n == v) and (n+4>v)) # False
print((n == v) or (n+4>v)) # True
print((n+1) == (v-2) or (not v>4)) # True print((n+1) == (v-2) or not v>4) and (n>5)) # False

False
False
True
False
True
True