# Lab 3: Python Functions, Lists, and Dictionaries
In this lab you will be working on python basics.

**This lab must be completed individually.**

Where provided, try your best to match the **Sample Output** as best as you can.

## Accept the lab

To accept this lab on GitHub Classroom, [you must click this link](https://classroom.github.com/a/6V9fm8Hj).

## Objectives

1. Practice Python loops and conditions
2. Practice Python lists and dictionaries
3. Practice string manipulation in Python
4. Practice importing and using the Pandas module

## Part 1: Python Fundamentals (10 marks)

This part of the lab takes you through some of the fundamental components of Python.

### 1A: `if-elif-else` statements (2 marks)

Fill in missing pieces of the following code such that print statements make sense. You should replace `<YOUR_CODE_HERE>` with your code.

In [2]:
name = 'Terry lkjsfkdjk'

### Your solution here

if len(name)>20:
    print('Name "{}" is more than 20 chars long'.format(name))
    length_description = 'long'
elif len(name) > 15:
    print('Name "{}" is more than 15 chars long'.format(name))
    length_description = 'semi long'
elif len(name) > 10:
    print('Name "{}" is more than 10 chars long'.format(name))
    length_description = 'semi long'
elif 8 <= len(name) <= 10:
    print('Name "{}" is 8, 9 or 10 chars long'.format(name))
    length_description = 'semi short'
else:
    print('Name "{}" is a short name'.format(name))
    length_description = 'short'

Name "Terry lkjsfkdjk" is more than 10 chars long

### 1B: `for` loops (2 marks)

Fill `<YOUR_CODE_HERE>` in the code snippet below so that this sample output is printed:

#### Sample Output
<img src="images/pattern.png" width="300px">

In [3]:
### Your solution here

n = 10
for i in range(1,n):
    if i <= n/2:
        print(" " * (n-1-i) + "A"*i)
    else:
        print(" " * (i-1) + "A"*(n-i))

        A
       AA
      AAA
     AAAA
    AAAAA
     AAAA
      AAA
       AA
        A

### 1C: `for` loops and `lists`

We have given you some sample code, as well as a list called `data`. 

> data = [53,9,5,90,63,5,97,40,92,48,53,8,38,63,13,15,66,81,57,79,42,91,25,89,66,4,73,45,80,17]

For each of the exercises 1C1 - 1CX, use the `data` list to answer the question by writing the appropriate bits of python code.

#### 1C1. Print values that are outside of the upper and lower bounds of 10 and 90 (2 marks)

*Hint: Use a for loop and loop through each of the elements in data*

##### Sample output (it's okay if yours is vertical rather than horizontally printed):

> [9, 5, 5, 97, 92, 8, 91, 4]

In [23]:
data = [50,10,5,90,62,12,90,40,12,18,1,7,42,12,16,17,88,81,100,51,32,81,54,32,43,4,23,48,60,19]

### Your solution here

for d in data:
  if d < 10:
    print(d, end=" ")
  elif d > 90:
    print(d, end=" ")

5 1 7 100 4

#### 1C2. Write code to calculate and print the maximum, minimum, sum, count, and average of items in `data`  (4 marks)

*Hint: for the mean, you will need to combine the sum and the count*

##### Sample output

> The max is: 97 <br/>
> The min is: 4 <br/>
> The sum is: 1507 <br/>
> The count is: 30 <br/>
> The mean is: 50.233333333333334 <br/>

In [30]:
min(data)

4

In [40]:
### Your solution here

print('The max is: {0}'.format(max(data)))
print('The min is: {0}'.format(min(data)))
print('The sum is: {0}'.format(sum(data)))
print('The count is: {0}'.format(len(data)))
print('The mean is: {0}'.format(sum(data)/len(data)))

The max is: 97
The min is: 4
The sum is: 1507
The count is: 30
The mean is: 50.233333333333334

#### 1D3. (Optional) Using list comprehension (NOT for loops), print out the numbers outside the specified upper and lower bounds (inclusive) of 10 and 90 (0 marks).

#### Sample output:
> [9, 5, 5, 97, 92, 8, 91, 4]

In [20]:
### Your solution here
[d for d in data if d < 10 or d > 90]

[5, 1, 7, 100, 4]

## Part 2: Working with data using pandas (12 marks)

In this part of the lab, we will practice loading in a sample data set using pandas, and doing some basic operations.

### 2A1. Load in the data (4 marks)

Here is the URL of the `pokemon` dataset inside the `data` folder.

Your task is to use the pandas [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function to read this dataset, assign it to a dataframe called `df`, and then print its [`head`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) also known as the first 5 lines of the dataframe.

*Hint: don't forget to first `import pandas as pd` to use `read_csv` and other pandas function.*

In [24]:
### Your solution here
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/firasm/bits/master/pokemon.csv')
df.head()
# or 

# df = pd.read_csv('data/pokemon.csv')
# df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 2A2. How many total pokemon are there in the dataset? (2 mark)

Make sure to use the `dataframe.count()` function to print the total number of entries in each column of the dataframe before you answer!

In [25]:
### Your solution here

df.count()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

### 2A3. Create a new dataframe `df2` that only includes the Pokemon that are Legendary Pokemon. (2 marks)

*Hint: Remember that you can subset dataframes using the `[]` syntax. [More on this here](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html)*

In [26]:
### Your solution here

df2 = df[df['Legendary']==True]

df2

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### 2A4. Print ONLY the mean HP, Attack, Defense, and Speed of all pokemon in the first generation using pandas functions (4 marks)

In [27]:
### Your solution here

df[df['Legendary']==True][['HP','Attack','Defense','Speed']].mean()

# OR 

df2[['HP','Attack','Defense','Speed']].mean()

HP          92.738462
Attack     116.676923
Defense     99.661538
Speed      100.184615
dtype: float64

## Part 3 - Dictionaries, Lists and data manipulation (10 marks)

In this part we explore another fundamental data structure in python, called Dictionaries.

### 3A. Create a dictionary that has 3 keys: name, age and salary, and enter in the following dummy information. (2 marks)

#### Sample output
> {'name': 'Tim Cook', 'age': 59, 'salary': 3000000.0}

In [61]:
### Your solution here

test_dict = {'name':'Tim Cook',
             'age': 59,
             'salary':3E7}

test_dict

{'name': 'Tim Cook', 'age': 59, 'salary': 30000000.0}

### 3B. Create a second dictionary, this time with at least 5 different names, ages, and salaries. (2 marks)

*Hint: There should only be three keys, and the values should be a list.*

#### Sample Output

> {'name': ['Tim Cook', 'Person 2', 'Person 3'],
> 'age': [59, 24, 40],
> 'salary': [30000000.0, 200000.0, 900000.0]}

In [63]:
### Your solution here

test_dict = {'name':['Tim Cook','Person 2','Person 3'],
             'age': [59,24,40],
             'salary':[3E7,2E5,9E5]}

### 3C. Create a pandas dataframe using the dictionary you created above (2 marks)

**Hint: Use the `pd.DataFrame.from_dict()` method**

#### Sample output
<img src="images/df.png" width="300px">

In [64]:
### Your solution here

df_salary = pd.DataFrame.from_dict(test_dict)

df_salary

       name  age      salary
0  Tim Cook   59  30000000.0
1  Person 2   24    200000.0
2  Person 3   40    900000.0

### 3D. Rename all three columns of the dataframe (4 mark)

*Hint: you should use the pandas function [rename()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html) to accomplish this. You can rename it to whatever you like, just show us you are able to use this function*

In [65]:
### Your solution here
df_salary.rename(columns={"name":"Full Name",
                          "age": "Age",
                          "salary": "Annual Salary"})

  Full Name  Age  Annual Salary
0  Tim Cook   59     30000000.0
1  Person 2   24       200000.0
2  Person 3   40       900000.0

## Part 4 - More dictionary practice (3 marks - Bonus)

**(Bonus)** (3 marks) Create a Python program that takes a string text and calculates the frequency of each word. Data set (copy as string into Python code)

text = """Elephants are mammals of the family Elephantidae and the largest existing land animals. Three species are currently recognised: the African bush elephant, the African forest elephant, and the Asian elephant. Elephantidae is the only surviving family of the order Proboscidea; extinct members include the mastodons. The family Elephantidae also contains several now-extinct groups, including the mammoths and straight-tusked elephants. African elephants have larger ears and concave backs, whereas Asian elephants have smaller ears, and convex or level backs. Distinctive features of all elephants include a long trunk, tusks, large ear flaps, massive legs, and tough but sensitive skin. The trunk, also called a proboscis, is used for breathing, bringing food and water to the mouth, and grasping objects. Tusks, which are derived from the incisor teeth, serve both as weapons and as tools for moving objects and digging. The large ear flaps assist in maintaining a constant body temperature as well as in communication. The pillar-like legs carry their great weight. Elephants are scattered throughout sub-Saharan Africa, South Asia, and Southeast Asia and are found in different habitats, including savannahs, forests, deserts, and marshes. They are herbivorous, and they stay near water when it is accessible. They are considered to be keystone species, due to their impact on their environments.[1] Other animals tend to keep their distance from elephants; the exception is their predators such as lions, tigers, hyenas, and wild dogs, which usually target only young elephants (calves). Elephants have a fission–fusion society, in which multiple family groups come together to socialise. Females (cows) tend to live in family groups, which can consist of one female with her calves or several related females with offspring. The groups, which do not include bulls, are led by the (usually) oldest cow, known as the matriarch."""

*Hint: There are many ways to do this, the most "elegant" way uses a mixture of regular expressions on the `findall` function from the `re` library, and the `Counter` modules from [`collections`](https://docs.python.org/3/library/collections.html#counter-objects)* 


#### Sample output:

>'1': Count of 1 and Percentage of 0.1% <br>
>'a': Count of 4 and Percentage of 0.2% <br>
>'accessible': Count of 1 and Percentage of 0.1% <br>
>'africa': Count of 1 and Percentage of 0.1% <br>
>'african': Count of 3 and Percentage of 0.2% <br>
>'all': Count of 1 and Percentage of 0.1% <br>
>'also': Count of 2 and Percentage of 0.1% <br>
>'and': Count of 15 and Percentage of 0.8% <br>
>'animals': Count of 2 and Percentage of 0.1% <br>
>'are': Count of 8 and Percentage of 0.4% <br>
>'as': Count of 6 and Percentage of 0.3% <br>
> ...
>'the': Count of 19 and Percentage of 1.0% <br>
>'their': Count of 5 and Percentage of 0.3% <br>
>'they': Count of 3 and Percentage of 0.2% <br>
>'three': Count of 1 and Percentage of 0.1% <br>
>'throughout': Count of 1 and Percentage of 0.1% <br>
>'tigers': Count of 1 and Percentage of 0.1% <br>
>'to': Count of 6 and Percentage of 0.3% <br>
>'together': Count of 1 and Percentage of 0.1% <br>
>... <br>
>'usually': Count of 2 and Percentage of 0.1% <br>
>'water': Count of 2 and Percentage of 0.1% <br>
>'weapons': Count of 1 and Percentage of 0.1% <br>
>'weight': Count of 1 and Percentage of 0.1% <br>
>'well': Count of 1 and Percentage of 0.1% <br>
>'when': Count of 1 and Percentage of 0.1% <br>
>'whereas': Count of 1 and Percentage of 0.1% <br>
>'which': Count of 5 and Percentage of 0.3% <br>
>'wild': Count of 1 and Percentage of 0.1% <br>
>'with': Count of 2 and Percentage of 0.1% <br>
>'young': Count of 1 and Percentage of 0.1% <br>

In [44]:
text = """Elephants are mammals of the family Elephantidae and the largest existing land animals. Three species are currently recognised: the African bush elephant, the African forest elephant, and the Asian elephant. Elephantidae is the only surviving family of the order Proboscidea; extinct members include the mastodons. The family Elephantidae also contains several now-extinct groups, including the mammoths and straight-tusked elephants. African elephants have larger ears and concave backs, whereas Asian elephants have smaller ears, and convex or level backs. Distinctive features of all elephants include a long trunk, tusks, large ear flaps, massive legs, and tough but sensitive skin. The trunk, also called a proboscis, is used for breathing, bringing food and water to the mouth, and grasping objects. Tusks, which are derived from the incisor teeth, serve both as weapons and as tools for moving objects and digging. The large ear flaps assist in maintaining a constant body temperature as well as in communication. The pillar-like legs carry their great weight. Elephants are scattered throughout sub-Saharan Africa, South Asia, and Southeast Asia and are found in different habitats, including savannahs, forests, deserts, and marshes. They are herbivorous, and they stay near water when it is accessible. They are considered to be keystone species, due to their impact on their environments.[1] Other animals tend to keep their distance from elephants; the exception is their predators such as lions, tigers, hyenas, and wild dogs, which usually target only young elephants (calves). Elephants have a fission–fusion society, in which multiple family groups come together to socialise. Females (cows) tend to live in family groups, which can consist of one female with her calves or several related females with offspring. The groups, which do not include bulls, are led by the (usually) oldest cow, known as the matriarch."""

### Your solution here

import re
from collections import Counter
counts=Counter(re.findall(r"[\w']+", text.lower()))

for i in sorted(counts):
    print("'{0}': Count of {1} and Percentage of {2:.1f}%".format(i,counts[i],100*counts[i]/len(text)))

'1': Count of 1 and Percentage of 0.1%
'a': Count of 4 and Percentage of 0.2%
'accessible': Count of 1 and Percentage of 0.1%
'africa': Count of 1 and Percentage of 0.1%
'african': Count of 3 and Percentage of 0.2%
'all': Count of 1 and Percentage of 0.1%
'also': Count of 2 and Percentage of 0.1%
'and': Count of 15 and Percentage of 0.8%
'animals': Count of 2 and Percentage of 0.1%
'are': Count of 8 and Percentage of 0.4%
'as': Count of 6 and Percentage of 0.3%
'asia': Count of 2 and Percentage of 0.1%
'asian': Count of 2 and Percentage of 0.1%
'assist': Count of 1 and Percentage of 0.1%
'backs': Count of 2 and Percentage of 0.1%
'be': Count of 1 and Percentage of 0.1%
'body': Count of 1 and Percentage of 0.1%
'both': Count of 1 and Percentage of 0.1%
'breathing': Count of 1 and Percentage of 0.1%
'bringing': Count of 1 and Percentage of 0.1%
'bulls': Count of 1 and Percentage of 0.1%
'bush': Count of 1 and Percentage of 0.1%
'but': Count of 1 and Percentage of 0.1%
'by': Count of 1 and Percentage of 0.1%
'called': Count of 1 and Percentage of 0.1%
'calves': Count of 2 and Percentage of 0.1%
'can': Count of 1 and Percentage of 0.1%
'carry': Count of 1 and Percentage of 0.1%
'come': Count of 1 and Percentage of 0.1%
'communication': Count of 1 and Percentage of 0.1%
'concave': Count of 1 and Percentage of 0.1%
'considered': Count of 1 and Percentage of 0.1%
'consist': Count of 1 and Percentage of 0.1%
'constant': Count of 1 and Percentage of 0.1%
'contains': Count of 1 and Percentage of 0.1%
'convex': Count of 1 and Percentage of 0.1%
'cow': Count of 1 and Percentage of 0.1%
'cows': Count of 1 and Percentage of 0.1%
'currently': Count of 1 and Percentage of 0.1%
'derived': Count of 1 and Percentage of 0.1%
'deserts': Count of 1 and Percentage of 0.1%
'different': Count of 1 and Percentage of 0.1%
'digging': Count of 1 and Percentage of 0.1%
'distance': Count of 1 and Percentage of 0.1%
'distinctive': Count of 1 and Percentage of 0.1%
'do': Count of 1 and Percentage of 0.1%
'dogs': Count of 1 and Percentage of 0.1%
'due': Count of 1 and Percentage of 0.1%
'ear': Count of 2 and Percentage of 0.1%
'ears': Count of 2 and Percentage of 0.1%
'elephant': Count of 3 and Percentage of 0.2%
'elephantidae': Count of 3 and Percentage of 0.2%
'elephants': Count of 9 and Percentage of 0.5%
'environments': Count of 1 and Percentage of 0.1%
'exception': Count of 1 and Percentage of 0.1%
'existing': Count of 1 and Percentage of 0.1%
'extinct': Count of 2 and Percentage of 0.1%
'family': Count of 5 and Percentage of 0.3%
'features': Count of 1 and Percentage of 0.1%
'female': Count of 1 and Percentage of 0.1%
'females': Count of 2 and Percentage of 0.1%
'fission': Count of 1 and Percentage of 0.1%
'flaps': Count of 2 and Percentage of 0.1%
'food': Count of 1 and Percentage of 0.1%
'for': Count of 2 and Percentage of 0.1%
'forest': Count of 1 and Percentage of 0.1%
'forests': Count of 1 and Percentage of 0.1%
'found': Count of 1 and Percentage of 0.1%
'from': Count of 2 and Percentage of 0.1%
'fusion': Count of 1 and Percentage of 0.1%
'grasping': Count of 1 and Percentage of 0.1%
'great': Count of 1 and Percentage of 0.1%
'groups': Count of 4 and Percentage of 0.2%
'habitats': Count of 1 and Percentage of 0.1%
'have': Count of 3 and Percentage of 0.2%
'her': Count of 1 and Percentage of 0.1%
'herbivorous': Count of 1 and Percentage of 0.1%
'hyenas': Count of 1 and Percentage of 0.1%
'impact': Count of 1 and Percentage of 0.1%
'in': Count of 5 and Percentage of 0.3%
'incisor': Count of 1 and Percentage of 0.1%
'include': Count of 3 and Percentage of 0.2%
'including': Count of 2 and Percentage of 0.1%
'is': Count of 4 and Percentage of 0.2%
'it': Count of 1 and Percentage of 0.1%
'keep': Count of 1 and Percentage of 0.1%
'keystone': Count of 1 and Percentage of 0.1%
'known': Count of 1 and Percentage of 0.1%
'land': Count of 1 and Percentage of 0.1%
'large': Count of 2 and Percentage of 0.1%
'larger': Count of 1 and Percentage of 0.1%
'largest': Count of 1 and Percentage of 0.1%
'led': Count of 1 and Percentage of 0.1%
'legs': Count of 2 and Percentage of 0.1%
'level': Count of 1 and Percentage of 0.1%
'like': Count of 1 and Percentage of 0.1%
'lions': Count of 1 and Percentage of 0.1%
'live': Count of 1 and Percentage of 0.1%
'long': Count of 1 and Percentage of 0.1%
'maintaining': Count of 1 and Percentage of 0.1%
'mammals': Count of 1 and Percentage of 0.1%
'mammoths': Count of 1 and Percentage of 0.1%
'marshes': Count of 1 and Percentage of 0.1%
'massive': Count of 1 and Percentage of 0.1%
'mastodons': Count of 1 and Percentage of 0.1%
'matriarch': Count of 1 and Percentage of 0.1%
'members': Count of 1 and Percentage of 0.1%
'mouth': Count of 1 and Percentage of 0.1%
'moving': Count of 1 and Percentage of 0.1%
'multiple': Count of 1 and Percentage of 0.1%
'near': Count of 1 and Percentage of 0.1%
'not': Count of 1 and Percentage of 0.1%
'now': Count of 1 and Percentage of 0.1%
'objects': Count of 2 and Percentage of 0.1%
'of': Count of 4 and Percentage of 0.2%
'offspring': Count of 1 and Percentage of 0.1%
'oldest': Count of 1 and Percentage of 0.1%
'on': Count of 1 and Percentage of 0.1%
'one': Count of 1 and Percentage of 0.1%
'only': Count of 2 and Percentage of 0.1%
'or': Count of 2 and Percentage of 0.1%
'order': Count of 1 and Percentage of 0.1%
'other': Count of 1 and Percentage of 0.1%
'pillar': Count of 1 and Percentage of 0.1%
'predators': Count of 1 and Percentage of 0.1%
'proboscidea': Count of 1 and Percentage of 0.1%
'proboscis': Count of 1 and Percentage of 0.1%
'recognised': Count of 1 and Percentage of 0.1%
'related': Count of 1 and Percentage of 0.1%
'saharan': Count of 1 and Percentage of 0.1%
'savannahs': Count of 1 and Percentage of 0.1%
'scattered': Count of 1 and Percentage of 0.1%
'sensitive': Count of 1 and Percentage of 0.1%
'serve': Count of 1 and Percentage of 0.1%
'several': Count of 2 and Percentage of 0.1%
'skin': Count of 1 and Percentage of 0.1%
'smaller': Count of 1 and Percentage of 0.1%
'socialise': Count of 1 and Percentage of 0.1%
'society': Count of 1 and Percentage of 0.1%
'south': Count of 1 and Percentage of 0.1%
'southeast': Count of 1 and Percentage of 0.1%
'species': Count of 2 and Percentage of 0.1%
'stay': Count of 1 and Percentage of 0.1%
'straight': Count of 1 and Percentage of 0.1%
'sub': Count of 1 and Percentage of 0.1%
'such': Count of 1 and Percentage of 0.1%
'surviving': Count of 1 and Percentage of 0.1%
'target': Count of 1 and Percentage of 0.1%
'teeth': Count of 1 and Percentage of 0.1%
'temperature': Count of 1 and Percentage of 0.1%
'tend': Count of 2 and Percentage of 0.1%
'the': Count of 19 and Percentage of 1.0%
'their': Count of 5 and Percentage of 0.3%
'they': Count of 3 and Percentage of 0.2%
'three': Count of 1 and Percentage of 0.1%
'throughout': Count of 1 and Percentage of 0.1%
'tigers': Count of 1 and Percentage of 0.1%
'to': Count of 6 and Percentage of 0.3%
'together': Count of 1 and Percentage of 0.1%
'tools': Count of 1 and Percentage of 0.1%
'tough': Count of 1 and Percentage of 0.1%
'trunk': Count of 2 and Percentage of 0.1%
'tusked': Count of 1 and Percentage of 0.1%
'tusks': Count of 2 and Percentage of 0.1%
'used': Count of 1 and Percentage of 0.1%
'usually': Count of 2 and Percentage of 0.1%
'water': Count of 2 and Percentage of 0.1%
'weapons': Count of 1 and Percentage of 0.1%
'weight': Count of 1 and Percentage of 0.1%
'well': Count of 1 and Percentage of 0.1%
'when': Count of 1 and Percentage of 0.1%
'whereas': Count of 1 and Percentage of 0.1%
'which': Count of 5 and Percentage of 0.3%
'wild': Count of 1 and Percentage of 0.1%
'with': Count of 2 and Percentage of 0.1%
'young': Count of 1 and Percentage of 0.1%